:host {
    display: block;
  }
  
  .item {
    margin: 10px;
    cursor: pointer;
    width: 12rem;
    height: 12rem;
  }
cds-button {
    --text-transform: capitalize;
    --padding-vertical: 0.9rem;
    --padding-horizontal: 1rem;
    --font-size: 0.7rem;
    --font-family: 'Comic Sans', monospace;
    --height: 1rem;
    text-align: center; 
    margin-right: 0.2rem; 
}

cds-button:hover {
    --background: #F3AD98;
}

cds-button:active {
    --border-color: #F3AD98;
    --box-shadow-color: #f07e5c;
}

.edit {
    --background: #40a5a8;
    --border-color: #126164;
}
.delete {
    --background: #ad4f4f;
    --border-color: #7c2929;
}
.h2{

}
.p{

}