
<div class="content-wrapper">
    <h1>USER MANAGER APP</h1>
    <div class="search-section">
        <cds-button class="btn-branding new-user" (click)="newUser()">
            NEW USER
        </cds-button>
        <cds-input control-width="shrink">
            <label>Search User</label>
            <input [(ngModel)]="searchText" required/>
        </cds-input>
        <cds-checkbox-group class="search-filters" layout="vertical">
            <cds-checkbox id="nameSearch" (change)="isNameSearch($event)">
                <label>By Name</label>
                <input type="checkbox"/>
            </cds-checkbox>
            <cds-checkbox id="roleSearch" (change)="isRoleSearch($event)">
                <label>By Role</label>
                <input type="checkbox"/>
            </cds-checkbox>
        </cds-checkbox-group>
        <cds-button class="search-btn" (click)="search()">Search</cds-button>
    </div>

    <div class="user-details">
        <div *ngIf="searchText!==''; else no_search">
            <app-add-user class="user-details" *ngFor="let user of usersToDisplay" [user]="user" ></app-add-user>
        </div>
        <ng-template class="user-details" #no_search>
            <app-add-user *ngFor="let user of currentUsers | async" [user]="user" ></app-add-user>
        </ng-template>
    </div>
</div>

